.card {
    width: 200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: bisque;
    padding: 2rem;
    border-radius: 30px;
    border: 1px solid black;
}

h3 {
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

button {
    font-size: 1rem;
    padding: 10px;
}